HTTPS_PORT=4000
APP_NAME=HustleHubPlus
ENVIRONMENT_MODE=development
SSL_KEY_PATH=certificates/privatekey.pem
SSL_CERT_PATH=certificates/certificate.pem
CLIENT_ORIGIN=https://localhost:5173 
JWT_SECRET=secretkey
JWT_EXPIRES_IN=1h
BCRYPT_ROUNDS=12